<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Add Person</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1> Add Person </h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<a class="btn btn-info" href="#" th:href="@{/person/all}"> Back to All Person </a>
			<form action="#" class="form-horizontal"
				  th:action="@{/person/save}"
				  th:object="${form}"
				  method="post">
				<fieldset>
					<span class="pull-right">
						    <input type="submit" id="submitButton" class="btn btn-success" th:value="Save">
						    <input type="reset" id="resetButton" class="btn btn-danger" th:value="Reset"/>
					</span>
					<table class="table">
						<thead>
						<tr>
							<th> First Name</th>
							<th> Last Name</th>
							<th> Phone</th>
						</tr>
						</thead>
						<tbody>
							<td><input th:field="${person.firstName}" required/></td>
							<td><input th:field="${person.lastName}" required/></td>
							<td><input th:field="${person.phone}" required/></td>
						</tbody>
					</table>
				</fieldset>
			</form>
		</div>
	</div>
</div>
</body>
</html>